<div class="row">
  <div class="col-md-6">
    <h5>Technology Thing</h5>
    <img src="imgs/1.jpg" alt="" class="img-thumbnail" />
  </div>
  <div class="col-md-6">
    <h5>Fashion Thing</h5>
    <img src="imgs/2.jpeg" alt="" class="img-thumbnail"/>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h5>World News </h5>
    <img src="imgs/3.jpg" alt="" class="img-thumbnail"/>
  </div>

  <div class="col-md-6">
    <h5>Yellow Shirt People</h5>
    <img src="imgs/4.jpeg" alt="" class="img-thumbnail"/>
  </div>
</div>
