<div class="row">
  <div class="col-md-6">
    <h5>Technology Thing</h5>
    {{#link-to '1-Cords-Are-A-Health-Hazard'}}
      <img src="imgs/1.jpg" alt="Cords are a health hazard"
        class="img-thumbnail" />
    {{/link-to}}
  </div>
  <div class="col-md-6">
    <h5>Fashion Thing</h5>
    {{#link-to '2-I-Know-Nothing-About-Fashion'}}
      <img src="imgs/2.jpeg" alt="Fashion Puzzles Me" class="img-thumbnail"/>
    {{/link-to}}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h5>World News </h5>
    {{#link-to '3-Trouble-In-Middle-East'}}
      <img src="imgs/3.jpg" alt="Trouble in the Middle East" class="img-thumbnail"/>
    {{/link-to}}
  </div>

  <div class="col-md-6">
    <h5>Yellow Shirt People</h5>
    {{#link-to '4-Yellow-Shirt-People'}}
      <img src="imgs/4.jpeg" alt="Such Shirts" class="img-thumbnail"/>
    {{/link-to}}
  </div>
</div>
